.flex-direction-column {
  display: flex;
  flex-direction: column !important;
}

@media (max-width: 600px) {
  .flex-direction-column {
    display: flex;
    flex-direction: column !important;
  }
}

.song-title {
  white-space: nowrap;
  overflow-x: auto;
  text-overflow: ellipsis;
  display: block;
}
