<div class="player-layout">
  <div class="player-played">
    <!-- Played List links -->
    <played-list
      [played]="played"
      [playedSorted]="playedSorted"
      [loading]="playedLoading"
      [error]="playedError"
      (playItem)="onPlayedItemClick($event)"
    ></played-list>
  </div>
  <div class="player-main">
    <seek-buttons
      [playerIp]="playerIp"
      [fileUrl]="fileUrl"
      (seek)="onSeek($event)"
      (stop)="onStop()"
      (playTrack)="onPlayTrack($event)"
      (play)="onPlay()"
      (queuePlay)="onQueuePlay()"
    ></seek-buttons>
    <div class="player-volume">
      <volume-control [volume]="volume" (onVolumeChange)="handleVolumeChange($event)"></volume-control>
    </div>

    <!-- Anzeige der Player-Informationen -->
    <div class="player-info">
      <div>{{ track }} - {{ title }} - {{ position }}</div>
    </div>
  </div>
  <div class="player-queue">
    <!-- Queue ausgelagert in eigene Komponente -->
    <sonos-queue
      (playTrack)="onPlayTrack($event)"
      (removeTrack)="onRemoveTrack($event)"
      (queuePlay)="onQueuePlayItem($event)"
    ></sonos-queue>
  </div>
</div>
