<div class="flex flex-direction-row justify-content-center p-small border-grey">
  <div class="flex justify-content-center mt-small">
    <!-- Played List links -->
    <played-list
      [played]="played$ | async"
      [playedSorted]="playedSorted$ | async"
      [loading]="(playedLoading$ | async) ?? false"
      [error]="playedError$ | async"
      (playItem)="onPlayedItemClick($event)"
    ></played-list>
  </div>
  <div >
    <seek-buttons
      class="flex justify-content-center m-small"
      [playerIp]="playerIp"
      [fileUrl]="fileUrl"
      (seek)="onSeek($event)"
      (stop)="onStop()"
      (play)="onPlay()"
      (queuePlay)="onQueuePlay()"
      (trackRelative)="onTrackRelative($event)"
    ></seek-buttons>
    <div class="flex justify-content-center m-small">
      <volume-control [volume]="volume" (onVolumeChange)="handleVolumeChange($event)"></volume-control>
    </div>

    <div class="flex justify-content-center m-small">
      <div>{{ track }} - {{ title }} - {{ position }}</div>
    </div>
  </div>
  <div class="flex justify-content-center m-small">
    <!-- Queue ausgelagert in eigene Komponente -->
    <sonos-queue
      (playTrack)="onPlayTrack($event)"
      (removeTrack)="onRemoveTrack($event)"
      (queuePlay)="onQueuePlayItem($event)"
      (clearQueue)="onClearQueue()"
    ></sonos-queue>
  </div>
</div>
