<bal-button color="tertiary" size="small"
            (click)="playTrackRelative(-1)"
            [disabled]="disabled">
  ⏮️
</bal-button>
<bal-button color="tertiary" size="small"
            (click)="seek.emit(-10)"
            [disabled]="disabled">
  ⏪
</bal-button>
<play-button [playerIp]="playerIp" [fileUrl]="fileUrl" (play)="onPlay()" (stop)="onStop()"
             (queuePlay)="onQueuePlay()"></play-button>
<bal-button color="tertiary" size="small"
            (click)="seek.emit(10)"
            [disabled]="disabled">
  ⏩
</bal-button>
<bal-button color="tertiary" size="small"
            (click)="playTrackRelative(1)"
            [disabled]="disabled">
  ⏭️
</bal-button>
