/* You can add global styles to this file, and also import other style files */
@import './styles/button.css';
@import '@baloise/ds-styles/sass/mixins.sass';

@import '@baloise/ds-styles/css/normalize.css';
@import '@baloise/ds-styles/css/structure.css';

@import '@baloise/ds-styles/css/font.css';

@import '@baloise/ds-styles/css/core.css';

@import '@baloise/ds-styles/css/utilities/background.css';
@import '@baloise/ds-styles/css/utilities/border.css';
@import '@baloise/ds-styles/css/utilities/elevation.css';
@import '@baloise/ds-styles/css/utilities/flex.css';
@import '@baloise/ds-styles/css/utilities/interaction.css';
@import '@baloise/ds-styles/css/utilities/layout.css';
@import '@baloise/ds-styles/css/utilities/sizing.css';
@import '@baloise/ds-styles/css/utilities/spacing.css';
@import '@baloise/ds-styles/css/utilities/typography.css';

/* Mobile Optimierung */
@media (max-width: 600px) {
  body {
    font-size: 17px;
    padding: 0 4px;
  }
  .container {
    padding: 4px;
    max-width: 100vw;
  }
  h1, h2 {
    font-size: 1.3em;
  }
  .search-box, .player-checkboxes, .file-list {
    flex-direction: column;
    gap: 4px;
    align-items: stretch;
  }
  .search-input, .global-player-select {
    font-size: 1em;
    padding: 10px 8px;
  }
  button, input[type="button"], input[type="submit"] {
    font-size: 1em;
    padding: 10px 8px;
  }
}

